<div class="mw9 center pa5">
  <div class="pa2 pb5">
    <h2 class="f3 ma0">Choose Color</h2>
  </div>
  <div>
    <form [formGroup]="customColorPicker" (ngSubmit)="handleColorRequest()">
      <h3 class="f3 ma0">Custom color</h3>
      <div class="pb4 flex flex-column">
        <label for="customColorPicker">
          Custom color picker
        </label>
        <input formControlName="customColor" ejs-colorpicker
                                                      type="color" class="w-100" id="customColorPicker"
                                                      [inline]="true"
                                                      [showButtons]="true"/>
      </div>
    </form>
    <form [formGroup]="customColorPattern" (ngSubmit)="handlePatternRequest(buttonType)">
      <h3 class="f3 ma0">Patterns</h3>
      <div class="pb4 flex flex-column">
        <label for="customColorPattern">
          Pattern color picker
        </label>
        <input formControlName="patternColor" ejs-colorpicker type="color" class="w-100"
                                                       id="customColorPattern"
                                                       [inline]="true"
                                                       [showButtons]="false"/>
        <label for="delay">
          Delay
        </label>
        <input id="delay" type="text" formControlName="delay"/>
        <button class="button" type="submit" (click)="handlePatternRequest('rainbow')">Rainbow
        </button>
        <button class="button" type="submit" (click)="handlePatternRequest('kitt')">Kitt</button>
        <button class="button" type="submit" (click)="handlePatternRequest('wave')">Wave</button>
        <button class="button" type="submit" (click)="handlePatternRequest('runninglights')">Running
          lights
        </button>
      </div>
    </form>
  </div>
</div>
