<div class="container">
  <div class="mt-3">
    <section class="section">
      <div class="columns is-centered">

        <div class="column is-narrow">
          <h1 class="title has-text-light">Single color</h1>
          <form [formGroup]="customColorPicker" (ngSubmit)="handleColorRequest()">
            <div class="control">
              <input ejs-colorpicker formControlName="customColor" type="color" id="colorpicker" [inline]="true" [showButtons]="false" />
            </div>
            <div class="control">
              <button class="button is-info is-fullwidth" type="submit">Submit</button>
            </div>
          </form>
        </div>

        <div class="is-divider-vertical"></div>

        <div class="column is-narrow">
          <h1 class="title has-text-light">Pattern color</h1>
          <form [formGroup]="customColorPattern" (ngSubmit)="handlePatternRequest(buttonType)">
            <div class="control">
              <input ejs-colorpicker formControlName="patternColor" type="color" id="colorpicker" [inline]="true" [showButtons]="false" />
            </div>
            <div class="field">
              <label class="label has-text-light">
                Delay
              </label>
              <div class="control is-expanded has-icons-left">
                <input class="input" type="number" placeholder="10" [value]="10">
                <span class="icon is-left">
                  <i class="fa-regular fa-clock"></i>
                </span>
              </div>
              <p class="help has-text-light">This is the delay between pattern cycles</p>
            </div>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <button class="button is-info is-fullwidth" type="submit" (click)="handlePatternRequest('rainbow')">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-solid fa-rainbow"></i>
                    </span>
                    <span>Rainbow</span>
                  </span>
                </button>
              </div>
              <div class="control is-expanded">
                <button class="button is-info is-fullwidth" type="submit" (click)="handlePatternRequest('kitt')">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    </span>
                    <span>Kitt</span>
                  </span>
                </button>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <button class="button is-info is-fullwidth" type="submit" (click)="handlePatternRequest('wave')">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-solid fa-wave-square"></i>
                    </span>
                    <span>Wave</span>
                  </span>
                </button>
              </div>
              <div class="control is-expanded">
                <button class="button is-info is-fullwidth" type="submit" (click)="handlePatternRequest('runninglights')">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-solid fa-fire"></i>
                    </span>
                    <span>Running lights</span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- <div class="center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-25 pa2"></div>
    <div class="fl w-25 pa4">

      <form [formGroup]="customColorPicker" (ngSubmit)="handleColorRequest()">
        <h3 class="f3 ma0">Custom color</h3>
        <div class="pb4 flex flex-column">
          <div class="center">
            <label for="customColorPicker">Custom color picker</label>
            <div class="mv1">
              <input ejs-colorpicker formControlName="customColor" type="color"
                     cssClass="e-container"
                     id="customColorPicker" [inline]="true" [showButtons]="true"/>
            </div>
          </div>
        </div>
      </form>

    </div>

    <div class="fl w-25 pa4">

      <form [formGroup]="customColorPattern" (ngSubmit)="handlePatternRequest(buttonType)">
        <h3 class="f3 ma0">Patterns</h3>
        <div class="pb4 flex flex-column">
          <div class="center">
            <label for="customColorPattern">Pattern color picker</label>
            <div class="mv1">
              <input ejs-colorpicker formControlName="patternColor" type="color"
                     cssClass="e-container"
                     id="customColorPattern" [inline]="true" [showButtons]="false"/>
            </div>
          </div>
          <label for="delay">Delay</label>
          <input id="delay" type="text" formControlName="delay" [value]="10"/>
          <div class="flex flex-wrap">
            <button class="f6 dim br2 ba ph3 pv2 mv2 dib dark-gray fl w-50" type="submit"
                    (click)="handlePatternRequest('rainbow')">
              Rainbow
            </button>
            <button class="f6 link dim br2 ba ph3 pv2 mv2 dib dark-gray fl w-50" type="submit"
                    (click)="handlePatternRequest('kitt')">Kitt
            </button>
            <button class="f6 link dim br2 ba ph3 pv2 mb2 dib dark-gray fl w-50" type="submit"
                    (click)="handlePatternRequest('wave')">Wave
            </button>
            <button class="f6 link dim br2 ba ph3 pv2 mb2 dib dark-gray fl w-50" type="submit"
                    (click)="handlePatternRequest('runninglights')">
              Running lights
            </button>

          </div>
        </div>

      </form>

    </div>
    <div class="fl w-25 pa2"></div>
  </div>
</div> -->