/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-divider/src/sass/index.sass";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";

html {
    background-color: #222831;
}

.e-container {
    background-color: #393E46;
}

.e-control-wrapper, .e-label-top, .e-value-switch-btn, .e-cancel {
    color: hsl(0, 0%, 96%) !important;
}

.is-divider-vertical[data-content]::after {
    background: #222831;
}